In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


import os 
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
# Any results you write to the current directory are saved as output.

LOAD DATASETS

In [2]:
true_news = pd.read_csv(r'C:\Users\HP\Desktop\True.csv')

In [3]:
fake_news = pd.read_csv(r"C:\Users\HP\Desktop\Fake.csv")

THE FIRST FEW ROWS OF THE TRUE STORIES AS FOLLOWS

In [4]:
true_news.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

FIRST FEW ROWS OF THE FALSE STORIES

In [5]:
fake_news.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

WE CREATE A COLOUMN NAMED 'CATEGORY' IN BOTH DATAFRAMES TO BE OUR TARGET FEATURE

In [6]:
true_news['category'] = 'TRUE'
fake_news['category'] = 'FAKE'

In [7]:
true_news.head()

,title,text,subject,date,category
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",TRUE
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",TRUE
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",TRUE
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",TRUE
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",TRUE

In [8]:
fake_news.head()

,title,text,subject,date,category
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",FAKE
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",FAKE
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",FAKE
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",FAKE
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",FAKE

EXPLORATORY DATA ANALYSIS

In [9]:
true_news.describe()

,title,text,subject,date,category
count,21417,21417,21417,21417,21417
unique,20826,21192,2,716,1
top,Factbox: Trump fills top jobs for his administ...,(Reuters) - Highlights for U.S. President Dona...,politicsNews,"December 20, 2017",TRUE
freq,14,8,11272,182,21417

In [10]:
fake_news.describe()

,title,text,subject,date,category
count,23481,23481,23481,23481,23481
unique,17903,17455,6,1681,1
top,MEDIA IGNORES Time That Bill Clinton FIRED His...,,News,"May 10, 2017",FAKE
freq,6,626,9050,46,23481

WE CREATE ONE BIG DATAFRAME CONTAINING BOTH REAL AND FAKE STORIES

In [11]:
news_data =pd.concat([true_news, fake_news])

In [12]:
news_data.head(20)

,title,text,subject,date,category
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",TRUE
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",TRUE
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",TRUE
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",TRUE
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",TRUE
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",TRUE
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",TRUE
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",TRUE
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",TRUE
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",TRUE
10,Jones certified U.S. Senate winner despite Moo...,(Reuters) - Alabama officials on Thursday cert...,politicsNews,"December 28, 2017",TRUE
11,New York governor questions the constitutional...,NEW YORK/WASHINGTON (Reuters) - The new U.S. t...,politicsNews,"December 28, 2017",TRUE
12,Factbox: Trump on Twitter (Dec 28) - Vanity Fa...,The following statements were posted to the ve...,politicsNews,"December 28, 2017",TRUE
13,"Trump on Twitter (Dec 27) - Trump, Iraq, Syria",The following statements were posted to the ve...,politicsNews,"December 28, 2017",TRUE
14,Man says he delivered manure to Mnuchin to pro...,"(In Dec. 25 story, in second paragraph, corre...",politicsNews,"December 25, 2017",TRUE
15,Virginia officials postpone lottery drawing to...,(Reuters) - A lottery drawing to settle a tied...,politicsNews,"December 27, 2017",TRUE
16,U.S. lawmakers question businessman at 2016 Tr...,WASHINGTON (Reuters) - A Georgian-American bus...,politicsNews,"December 27, 2017",TRUE
17,"Trump on Twitter (Dec 26) - Hillary Clinton, T...",The following statements were posted to the ve...,politicsNews,"December 26, 2017",TRUE
18,U.S. appeals court rejects challenge to Trump ...,(Reuters) - A U.S. appeals court in Washington...,politicsNews,"December 26, 2017",TRUE
19,Treasury Secretary Mnuchin was sent gift-wrapp...,(Reuters) - A gift-wrapped package addressed t...,politicsNews,"December 24, 2017",TRUE

In [13]:
#Lets shaffle to see some fakes

news_data.sample(frac = 1)

,title,text,subject,date,category
1816,Those Intel Reports That Nunes Ran To Trump W...,Remember the House Intelligence Committee s in...,News,"April 11, 2017",FAKE
14703,TRUMP’S RIGHT AGAIN: North Korea Says It Just ...,Donald Trump is right again: He warned in a Pr...,politics,"Jan 6, 2016",FAKE
21028,Anti-Uber protests disrupt major Chilean airpo...,SANTIAGO (Reuters) - Taxi drivers protesting t...,worldnews,"September 4, 2017",TRUE
16316,"Exclusive: Energy, not tech or finance, in CEO...",BEIJING (Reuters) - U.S. energy and commoditie...,worldnews,"October 27, 2017",TRUE
2546,California governor signs climate policy exten...,LOS ANGELES (Reuters) - California Governor Je...,politicsNews,"July 25, 2017",TRUE
...,...,...,...,...,...
10912,Pentagon says military intelligence accounts f...,WASHINGTON (Reuters) - Military intelligence p...,politicsNews,"February 9, 2016",TRUE
18552,OUCH! NEW EMAILS Show Hillary Didn’t Want To F...,Former Secretary of State Hillary Clinton once...,left-news,"Jun 1, 2017",FAKE
17682,"Eurofighter jet crashes in Spain, killing pilot",MADRID (Reuters) - A Eurofighter combat jet pl...,worldnews,"October 12, 2017",TRUE
19566,STUDENTS BRAVELY DEFY Catholic College VP’s Wa...,Student government leaders at Loyola Universit...,left-news,"Nov 22, 2016",FAKE
14689,BREAKING BOMBSHELL: State Department Busted In...,They knew! Can you believe these people? FOX N...,politics,"Jan 7, 2016",FAKE

In [14]:
news_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44898 entries, 0 to 23480
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     44898 non-null  object
 1   text      44898 non-null  object
 2   subject   44898 non-null  object
 3   date      44898 non-null  object
 4   category  44898 non-null  object
dtypes: object(5)
memory usage: 2.1+ MB

In [15]:
#checking for missing values

news_data.isna().sum()

title       0
text        0
subject     0
date        0
category    0
dtype: int64