In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


import os 
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
# Any results you write to the current directory are saved as output.

LOAD DATASETS

In [2]:
true_news = pd.read_csv(r'C:\Users\HP\Desktop\True.csv')

In [3]:
fake_news = pd.read_csv(r"C:\Users\HP\Desktop\Fake.csv")

THE FIRST FEW ROWS OF THE TRUE STORIES AS FOLLOWS

In [4]:
true_news.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

FIRST FEW ROWS OF THE FALSE STORIES

In [5]:
fake_news.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

WE CREATE A COLOUMN NAMED 'CATEGORY' IN BOTH DATAFRAMES TO BE OUR TARGET FEATURE

In [6]:
true_news['category'] = 'TRUE'
fake_news['category'] = 'FAKE'

In [7]:
true_news.head()

,title,text,subject,date,category
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",TRUE
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",TRUE
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",TRUE
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",TRUE
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",TRUE

In [8]:
fake_news.head()

,title,text,subject,date,category
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",FAKE
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",FAKE
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",FAKE
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",FAKE
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",FAKE

EXPLORATORY DATA ANALYSIS

In [9]:
true_news.describe()

,title,text,subject,date,category
count,21417,21417,21417,21417,21417
unique,20826,21192,2,716,1
top,Factbox: Trump fills top jobs for his administ...,(Reuters) - Highlights for U.S. President Dona...,politicsNews,"December 20, 2017",TRUE
freq,14,8,11272,182,21417

In [10]:
fake_news.describe()

,title,text,subject,date,category
count,23481,23481,23481,23481,23481
unique,17903,17455,6,1681,1
top,MEDIA IGNORES Time That Bill Clinton FIRED His...,,News,"May 10, 2017",FAKE
freq,6,626,9050,46,23481

WE CREATE ONE BIG DATAFRAME CONTAINING BOTH REAL AND FAKE STORIES

In [11]:
news_data =pd.concat([true_news, fake_news])

In [12]:
news_data.head(20)

,title,text,subject,date,category
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",TRUE
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",TRUE
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",TRUE
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",TRUE
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",TRUE
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",TRUE
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",TRUE
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",TRUE
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",TRUE
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",TRUE
10,Jones certified U.S. Senate winner despite Moo...,(Reuters) - Alabama officials on Thursday cert...,politicsNews,"December 28, 2017",TRUE
11,New York governor questions the constitutional...,NEW YORK/WASHINGTON (Reuters) - The new U.S. t...,politicsNews,"December 28, 2017",TRUE
12,Factbox: Trump on Twitter (Dec 28) - Vanity Fa...,The following statements were posted to the ve...,politicsNews,"December 28, 2017",TRUE
13,"Trump on Twitter (Dec 27) - Trump, Iraq, Syria",The following statements were posted to the ve...,politicsNews,"December 28, 2017",TRUE
14,Man says he delivered manure to Mnuchin to pro...,"(In Dec. 25 story, in second paragraph, corre...",politicsNews,"December 25, 2017",TRUE
15,Virginia officials postpone lottery drawing to...,(Reuters) - A lottery drawing to settle a tied...,politicsNews,"December 27, 2017",TRUE
16,U.S. lawmakers question businessman at 2016 Tr...,WASHINGTON (Reuters) - A Georgian-American bus...,politicsNews,"December 27, 2017",TRUE
17,"Trump on Twitter (Dec 26) - Hillary Clinton, T...",The following statements were posted to the ve...,politicsNews,"December 26, 2017",TRUE
18,U.S. appeals court rejects challenge to Trump ...,(Reuters) - A U.S. appeals court in Washington...,politicsNews,"December 26, 2017",TRUE
19,Treasury Secretary Mnuchin was sent gift-wrapp...,(Reuters) - A gift-wrapped package addressed t...,politicsNews,"December 24, 2017",TRUE

In [13]:
#Lets shaffle to see some fakes

news_data.sample(frac = 1)

,title,text,subject,date,category
8269,Hillary Gives Rubio A New Name After He Says ...,Marco Rubio is making a name for himself in th...,News,"February 7, 2016",FAKE
6940,NC Governor Just Slapped The LGBT Community E...,After North Carolina passed their new bigoted ...,News,"April 12, 2016",FAKE
20502,COMMUNIST VIETNAMESE LEADER THANKS U.S. Anti-W...,Obama s historic Embracing the Communists Tour...,left-news,"May 30, 2016",FAKE
14118,Saudi-led coalition to reopen Yemen's Hodeidah...,DUBAI (Reuters) - The Saudi-led military coali...,worldnews,"November 22, 2017",TRUE
17027,Hillary Clinton says U.S. threats of war with ...,SEOUL (Reuters) - Former U.S. presidential can...,worldnews,"October 18, 2017",TRUE
...,...,...,...,...,...
4304,Trump says tax reform 'will be better' if Obam...,WASHINGTON (Reuters) - President Donald Trump ...,politicsNews,"April 11, 2017",TRUE
23312,US Media Hyped ‘Active Shooter’ Drill at Andre...,"21st Century Wire says Yesterday, we were told...",Middle-east,"July 1, 2016",FAKE
1472,U.S. visas to six Muslim nations drop after Su...,WASHINGTON (Reuters) - In the first two month...,politicsNews,"September 29, 2017",TRUE
21003,UNHINGED LEFTIST Apologizes To “Refugees” Who ...,"Why stop there? Using liberal logic, shouldn t...",left-news,"Feb 13, 2016",FAKE
12192,U.N. asks urgent reforms to end arbitrary dete...,COLOMBO (Reuters) - The United Nations on Frid...,worldnews,"December 15, 2017",TRUE

In [14]:
news_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44898 entries, 0 to 23480
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     44898 non-null  object
 1   text      44898 non-null  object
 2   subject   44898 non-null  object
 3   date      44898 non-null  object
 4   category  44898 non-null  object
dtypes: object(5)
memory usage: 2.1+ MB

In [15]:
#checking for missing values

news_data.isna().sum()

title       0
text        0
subject     0
date        0
category    0
dtype: int64

In [16]:
#We now join the title and text to create thhe article feature

news_data['article'] = news_data.title + '' + news_data.text
news_data.drop(['title', 'text'], axis =1, inplace = True)

In [17]:
#Extracting a new dataframe using the features "article" and "category"

news = news_data[['article', 'category']]

In [18]:
#converting to lower case

news['article'] = news['article'].apply(lambda x: x.lower())

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
news['article'].head()

0    as u.s. budget fight looms, republicans flip t...
1    u.s. military to accept transgender recruits o...
2    senior u.s. republican senator: 'let mr. muell...
3    fbi russia probe helped by australian diplomat...
4    trump wants postal service to charge 'much mor...
Name: article, dtype: object

In [32]:
#We will try and remove punctuations in our "article"

import string

def punctuation_removal(messy_data):
    clean_string = [char for char in messy_data if char not in string.punctuation]
    
    
    
 #join the characters again to form the string.
    
    nopunc = ''.join(clean_string)
    
    return nopunc

In [33]:
news['article'] = news['article'].apply(punctuation_removal)

news['article'].head()

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0    as us budget fight looms republicans flip thei...
1    us military to accept transgender recruits on ...
2    senior us republican senator let mr mueller do...
3    fbi russia probe helped by australian diplomat...
4    trump wants postal service to charge much more...
Name: article, dtype: object

In [34]:
#Removing Stopwords

from nltk.corpus import stopwords
stop = stopwords.words('english')
news['article'].apply(lambda x:[item for item in x if item not in stop])

0        [ , u,  , b, u, g, e,  , f, g, h,  , l,  , r, ...
1        [u,  , l, r,  ,  , c, c, e, p,  , r, n, g, e, ...
2        [e, n, r,  , u,  , r, e, p, u, b, l, c, n,  , ...
3        [f, b,  , r, u,  , p, r, b, e,  , h, e, l, p, ...
4        [r, u, p,  , w, n,  , p, l,  , e, r, v, c, e, ...
                               ...
23476    [c, p, n,  , j, h, n,  , c, c, n,  , f, u, r, ...
23477    [j, u, c, e,  , h,  , e, l, e,  , e, l,  , p, ...
23478    [u, n, n, n,  , u,  , n,  , l, l, e,  , ‘, f, ...
23479    [h, w,  ,  , b, l, w,  , 7, 0, 0,  , l, l, n, ...
23480    [1, 0,  , u,  , n, v,  , l, r,  , h, e, l,  , ...
Name: article, Length: 44898, dtype: object

In [35]:
news.sample(5)

                                                 article category
967    white house no sign of collusion in campaign a...     TRUE
23242  coverup new details from orlando shooter’s cri...     FAKE
20501  weeks after row over academic articles china s...     TRUE
9283   watch minnesota dem mayor shake and cry about ...     FAKE
13126  myanmar says working to ensure returns of rohi...     TRUE